
*{
    transition: all 0.2s linear;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    background: black;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    padding: 0.5rem;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    justify-content: space-between;
    height: 8rem;
}

header .Lego{
    color: rgb(255, 251, 0);
    margin: 0 1rem;
    font-size: 4rem;
    font-weight: bold;
}

header .tabs a{
    color: rgb(255, 251, 0); 
    margin: 0 1rem;
    font-size: 1.7rem;
}

header .icons a{
    color: rgb(255, 251, 0);
    margin: 0 1rem;
    font-size: 1.7rem;
    display: inline;
}

header a{
    color: rgb(255, 251, 0);
    margin: 0 1rem;
}

header a:hover{
    color: rgb(255, 0, 0);
}
.tab:hover, .userIsAuthenticated:hover{
    background-color: rgb(255, 255, 255);
}

.pages .page {
    display: none;
}

.pages .page.active {
    display: block;
}

html{
    font-size: 0.625rem;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    margin: 0;
    height: 100vh;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.grid{
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

footer{
    background: black;
    color: rgb(255, 251, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.mainLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 0;
    list-style-type: none;
}

.kitLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 0;
    list-style-type: none;
}

.mainLinks li{
    background: rgb(248, 248, 237);
    flex: 0 1 30rem;
    border: 0.2rem rgb(230, 214, 214) solid;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    margin: 1rem;
    height: 45rem;
    color: black;
    text-align: center;
    font-size: 2rem;
}


.kitLinks li{
    background: rgb(248, 248, 237);
    flex: 0 1 30rem;
    border: 0.2rem rgb(230, 214, 214) solid;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    margin: 1rem;
    height: 45rem;
    color: black;
    text-align: center;
    font-size: 2rem;
}

.legoDiv{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.legoDiv img, .legoBasket img, .slide-image{
    max-width: 22rem;
    max-height: 22rem;
    min-width: 22rem;
    min-height: 22rem;
    margin: 5rem;
}

.legoDiv:hover img{
    filter: drop-shadow(0.2rem 0.2rem black);
    transform: scale(1.2);
}

.legoNameLink{
    color: black;
}

.legoNameLink:hover{
    color: red;
}

.legoPrice{
    font-size: 3rem;
}

.addToCart, .addToWishList{
    font-size: 2rem;
    color: rgb(255, 251, 0);
    background: black;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    margin-left: 6rem; 
}
.addToCart:hover, .addToWishList:hover{
    color: red;
    background: white;
    filter: drop-shadow(0.2rem 0.2rem black);
}

.continueButton{
    font-size: 2rem;
    color: rgb(255, 251, 0);
    background: black;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    width: 22rem;
}
.continueButton:hover{
    color: red;
    background: white;
}

.loginDiv {
    display: none;
    border:  1rem, solid rgb(255, 251, 0);
    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
    color: rgb(255, 251, 0);
    cursor: pointer;
    right: -10rem;
    height: 10rem;
    justify-content: center;
}

.loginDiv Button {
    color: red;
    background: white;
    box-shadow: 0 .5rem 1rem red;
    display: block;
    margin: 1.5rem 0 0 0;
    font-size: 1.7rem;
    justify-content: space-between;
}

.loginDiv Button:hover {
    color: red;
    background: rgb(255, 251, 0);
}

.loginDiv Button[disabled]{
    background: rgb(197, 194, 194);
    box-shadow: none;
}
header .loginDiv {
    display: none;
    background: black;
    position: absolute;
    top: 100%; 
    width: 100%;
    border-top: 0.1rem solid rgb(255, 251, 0);
}
.loginDiv.display{
    display: block;
    width: 20rem;
}
.display {
    display: block;
}

#searchSite{
    width: 20rem;
    border: 1px solid rgb(255, 251, 0);
}

#options {
    display: none;
    border:  1rem, solid rgb(255, 251, 0);
    border-radius: 3rem;
    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
    color: rgb(255, 251, 0);
    cursor: pointer;
}

#options:hover{
    color: rgb(255, 0, 0);
}

.cartHeader{
    margin-top: 5rem;
    margin-left: 40rem;
    margin-right: 40rem;
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    justify-content: space-between;
}

.address{
    height: 80rem;
    margin-top: 0rem;
    margin-left: 40rem;
    margin-right: 40rem;
    position: relative;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    justify-content: space-between;
}

.cartSignIn{
    height: 40rem;
    margin-top: 10rem;
    margin-left: 40rem;
    margin-right: 40rem;
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    justify-content: space-between;
}
.kitIn, .brickIn{
    display: flex;
    max-width: 70rem;
    max-height: 70rem;
    margin: 5rem 0 0 2rem;
}
#kitPage .description, #kitPage .legoPrice, #kitPage .stock, #kitPage .category, #brickPage .legoPrice, #brickPage .stock, #brickPage .category, #brickPage .description{
    margin: 1rem 0 0 2rem;
}
#kitPage .addToCart, #kitPage .addToWishList, #brickPage .addToCart, #brickPage .addToWishList{
    margin: 1rem 0 0 28rem;
}

#checkout{
    margin: 5rem 0 0 3rem;
    display: grid;
    grid-gap: 1rem;
    margin: auto;
    max-width: 30rem;
}
.checkoutHeader{
    font-weight: bold;
    font-size: 3rem;
    margin: 5rem 0 0 0;
}
.payHeader{
    font-weight: bold;
    font-size: 3rem;
    margin: 10rem 0 0 0;
}
#checkout input{
    border: 1px solid black;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    height: 3rem;
}
#checkout input:invalid + label:after{
    content: '*';
    color: red;
}
#checkout input:valid + label:after{
    content: '✓';
    color: green;
}
#checkout select{
    width: 10rem;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    height: 3rem;
}
#checkout input.invalid {
    box-shadow: 0 0 1rem red;
}
#checkout:invalid input[type="button"]{
    pointer-events: none;
    opacity: 0.5;
}
#checkout span{
    margin-top: 3rem;
}
#checkout:valid .if-invalid{
    display: none;
}
#pay {
    margin-bottom: 3rem;
}
#cartPage h1{
    margin: 5rem 0 0 2rem;
}
#cartPage .empty{
    text-align: center;
    margin: 15rem 0 0 0;
    font-size: 2rem;
}
#cartPage .empty .usefulLinks a{
    margin: 1rem;
    font-weight: bold;
}
.cartStyle{
    justify-content: space-between;
    display: flex;
    margin: 2rem;
}
.legoInCart{
    width: 22rem;
}

.cartDiv{
    justify-content: space-between;
    display: flex;
    margin: 2rem;
    border: 0.1rem solid black;
}
.legoBasket div img{
    margin: 0;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
}
.total{
    display: flex;
    justify-content: end;
    font-size: 2rem;
    margin: 5rem 1rem 5rem 0;
    font-weight: bold;
}
.emptyCart{
    display: none;
}
.continueToCheckout, .clearBasket{
    text-align: center;
    display: flex;
    justify-content: end;
    margin: 5rem;
    font-size: 2rem;
    color: rgb(255, 251, 0);
    background: black;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
}

#error{
    background: black;
    color: rgb(255, 251, 0);
    text-align: center;
}

#errorLink{
    color: white;
}

.remove {
    color: red;
    margin: 5rem 0 0 0;
    text-decoration: underline;
}

.deleteBrick {
    color: red;
    text-decoration: underline;
}

.tab#design, .tab#wishlist{
    display: none;
}

.userIsAuthenticated, .deleteBrick{
    display: relative;
}

.notAuthenticated{
    color: red;
    margin: 5rem;
}

.featured{
    margin-top: 5rem;
}

.slides{
    width: 25rem;
    box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container{
    display: flex;
}

video {
    display: flex;
    /* margin: 5rem; */
    margin: 3rem 0 0 5rem;
} 

.slide-image{
    margin: 0;
}
.container div{
    flex: 0 1 30rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.slides{
    margin: 1rem;
}
.qtyContainer{
    display: flex;
}
.increase{
    margin-left: 1rem;
}
.decrease{
    margin-right: 1rem;
}

.uploadBrick{
    margin-top: 10rem;
}

#tempMain .userIsAuthenticated{
    margin-top: 10rem;
}

#successPage{
    background: black;
    color: rgb(255, 251, 0);;
}
#tick{
    color: #8bEA6C;
}

#successful{
    text-align: center;
}

#successPage a{
    color: white;
}

@media(max-width:75rem){
    .cartHeader{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cartSignIn{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    video{
        height: 90rem;
        width: 90rem;
    }
    .slides{
    margin: 0 0 0 3rem;
    }
}

@media(max-width:65rem){
    video{
        height: 75rem;
        width: 75rem;
    }
}

@media(max-width:55rem){
    video{
        height: 65rem;
        width: 65rem;
    }
}

@media(max-width:50rem){
    .tabs.display{
        display: block;
        width: 20rem;
    }
    #options{
        display: block;
    }

    header .tabs {
        display: none;
        background: black;
        position: absolute;
        top: 100%; 
        width: 100%;
        border-top: 0.1rem solid rgb(255, 251, 0);
    }

    header .tabs a{
        text-align: center;
        margin: 1.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid rgb(255, 251, 0);
        font-size: 2rem;
        background: black;
        padding: 1.5rem;
        display: block;
    }
    .cartHeader{
        height: 3rem;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 15rem;
        margin-right: 15rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    .cartHeader h1{
        font-size: 1.5rem;
    }
    .cartSignIn{
        height: 40rem;
        margin-top: 10rem;
        margin-left: 15rem;
        margin-right: 15rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    #searchSite{
        width: 11rem;
        border: 1px solid rgb(255, 251, 0);
    }
    .addToCart, .addToWishList{
        font-size: 2rem;
        color: rgb(255, 251, 0);
        background: black;
        border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
        width: 18rem;
        display: flex;
        justify-content: center;
    }
    .kitIn, .brickIn{
        display: flex;
        max-width: 45rem;
        max-height: 50rem;
        margin: 5rem 0 0 2rem;
    }
    #kitPage .description, #kitPage .legoPrice, #kitPage .stock, #kitPage .category, #brickPage .legoPrice, #brickPage .stock, #brickPage .category, #brickPage .description{
        margin: 1rem 0 0 2rem;
    }
    #kitPage .addToCart, #kitPage .addToWishList{
        margin: 1rem 0 0 15rem;
    }

    #brickPage .addToCart, #brickPage .addToWishList{
        margin: 1rem 0 0 10rem;
    }
    video{
        height: 70rem;
        width:70rem;
    }
} 

@media(max-width:47rem){
    video{
        height: 60rem;
        width: 60rem;
        margin-top: 0;
    }
    .slides{
        margin-left: 15rem;
    }
}

@media(max-width:42rem){
    video{
        height: 55rem;
        width: 55rem;
        margin-top: 0;
        margin-left: 3rem;
    }
    .slides{
        margin-left: 12rem;
    }
}

@media(max-width:35rem){
    .cartHeader{
        height: 3rem;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 7rem;
        margin-right: 7rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    .cartHeader h1{
        font-size: 1.5rem;
    }
    .cartSignIn{
        height: 40rem;
        margin-top: 10rem;
        margin-left: 7rem;
        margin-right: 7rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    #searchSite{
        width: 6.5rem;
        border: 1px solid rgb(255, 251, 0);
    }

    #logo{
        font-size: 3rem;
    }
    header .icons a{
        font-size: 1.2rem;
    }
    video{
        height: 46rem;
        width: 46rem;
    }
}

@media(max-width:30rem){
    .cartHeader{
        height: 3rem;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    .cartHeader h1{
        font-size: 1.5rem;
    }
    .cartSignIn{
        height: 40rem;
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    #searchSite{
        width: 5rem;
        border: 1px solid rgb(255, 251, 0);
    }

    #options{
        font-size: 2rem;
    }
    #sort{
        width: 5rem;
    }
    video{
        height: 40rem;
        width: 40rem;
        margin-left: 3rem;
        margin-top: 0;
    }
    .slides{
        margin-left: 8rem;
    }
}

@media(max-width:28rem){
    .cartHeader{
        height: 3rem;
        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    .cartHeader h1{
        font-size: 1.5rem;
    }
    .cartSignIn{
        height: 40rem;
        margin-top: 10rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        justify-content: space-between;
    }
    #searchSite{
        width: 4rem;
        border: 1px solid rgb(255, 251, 0);
    }

    #options{
        font-size: 2rem;
    }

    #logo{
        font-size: 2rem;
    }
    .legoDiv img, .legoBasket img, .slide-image{
        max-width: 12rem;
        max-height: 12rem;
        min-width: 12rem;
        min-height: 12rem;
        margin: 5rem;
    }
    .addToCart, .addToWishList{
        font-size: 2rem;
        color: rgb(255, 251, 0);
        background: black;
        border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
        width: 18rem;
        display: flex;
        justify-content: center;
    }

    #kitPage .addToCart, #kitPage .addToWishList, #brickPage .addToCart, #brickPage .addToWishList{
        margin: 1rem 0 0 10rem;
    }
    .mainLinks li{
        background: rgb(248, 248, 237);
        flex: 0 1 30rem;
        border: 0.2rem rgb(230, 214, 214) solid;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        margin: 1rem;
        height: 30rem;
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .kitLinks li{
        background: rgb(248, 248, 237);
        flex: 0 1 30rem;
        border: 0.2rem rgb(230, 214, 214) solid;
        box-shadow: 0 .5rem 1rem rgb(30, 19, 54);
        margin: 1rem;
        height: 30rem;
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .legoPrice{
        font-size: 2rem;
    }
    #sort{
        width: 2rem;
    }

    .kitIn, .brickIn{
        display: flex;
        max-width: 33rem;
        max-height: 33rem;
        margin: 5rem 0 0 2rem;
    }
    #kitPage .description, #kitPage .legoPrice, #kitPage .stock, #kitPage .category, #brickPage .legoPrice, #brickPage .stock, #brickPage .category, #brickPage .description{
        margin: 1rem 0 0 2rem;
    }
    .legoInCart{
        width: 10rem;
    }
    video{
        height: 30rem;
        width: 30rem;
        margin-top: 0;
        margin-left: 3rem;
    }
    .slides{
        height: 15rem;
        width: 10rem;
        margin-left: 4rem;
    }
    .slide-image{
        margin-left: 10rem;
    }
}
